h1 {
	color: #FFF;
	font-size: 16px;
}

.content {
	width: 90%;
}

.p-link {
	color: #FFF;
	display: block;
	margin: 8px 0;
}

.p-link:hover {
	color: #2362eb;
}

.p-text a {
	color: #2362eb;
}

.p-text a:hover {
	color: #FFF;
}